[submodule "classes/GenericManager"]
	path = classes/GenericManager
	url = https://github.com/adrianopls/GenericManager.git
[submodule "classes/UIManager"]
	path = classes/UIManager
	url = https://github.com/adrianopls/UIManager.git
